<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to Our CMS</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/articles">Articles Page</a>
      <a href="/categories"> Categories</a>
      <a href="/articles/add">Add Article</a>
    </nav>
    <div class="container">
      <h2>About Us</h2>
      <p>Link for testing purpose:</p>
      <p><a href="/article/2">Search By Id: 2</a></p>
      <p><a href="/articles?minDate=2024-11-10">Min Date: 2024-11-10</a></p>
      <p><a href="/articles?category=AI">Category: AI</a></p>
      <p>
        This is a simple content management system (CMS) to manage and display
        articles dynamically.
      </p>
    </div>
    <footer>
      <p>&copy; 2024 CMS Project</p>
    </footer>
  </body>
</html>
